@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width-custom{
    padding: 0 80px;
    margin: auto;
}

/* navbar styling */
.navbar-custom{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    /* background: crimson; */
    font-family: 'Ubuntu', sans-serif;
    transition: all.3s ease;
    z-index: 999;
}

.navbar-custom.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar-custom .max-width-custom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-custom .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar-custom .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.navbar-custom.sticky .logo a span{
    color: #fff;
}
.navbar-custom .logo a span{
    color: crimson;
}
.navbar-custom .menu li{
    list-style: none;
    display: inline-block;
}
.navbar-custom .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar-custom .menu li a:hover{
    color: crimson;
}

.navbar-custom.sticky .menu li a:hover{
    color: #fff;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home section */
.home{
    display: flex;
    height: 100vh;
    /* background: url("Images/Deep-removebg-preview.png") no-repeat center;   */
    background: cornflowerblue;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    width: 100%;
}
.img-container{
    height: 100vh;
    float: right;
}

.img-container img{
    height: 100%;
}

.home .home-content{
    position: absolute;
    top: 40%;
    left: 5%;
    z-index: 999;
}

.home .max-width-custom{
    margin: auto 0 auto 40px;
    width: 100%;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0,.5);
}


/* media query */

@media(max-width:947px){
    *{
        overflow-y: hidden !important;
    }
    .max-width-custom{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar-custom .menu{
        position:fixed;
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        background: #111;
        z-index: 999;
        text-align: center;
        padding-top: 80px;
    }
    .navbar-custom .menu li{
        display: block;
    }
    .navbar-custom .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .menu-btn img {
        position: absolute;
        width: 2rem;
        padding: 4px;
        margin-left: -1rem;
    }
    .home .home-content{
        position: inherit;
    }


}
